{% extends 'home/base.html' %}

{% block content %}
<h2>Your cart:</h2>

{% for p in cart %}

<h5>{{p.product}}</h5>
<ul>
    <img src="{{MEDIA_URL}}{{p.image}}" width="70px" border-radius='50'></img>
    <li>Quantity: {{p.quantity}}</li> 
    <li>${{p.price}} each</li>
    <li>${{p.total}} total</li>
    <form action='{% url "remove" %}' method="POST">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ p.product.id }}"/>
        <button class="btn-sm btn-danger">Remove</button>
</form>
</ul>
{% endfor %}
<p><strong>Sub-Total: ${{totals}}</strong></p>

<a href="{% url 'checkout' %}" class='btn-sm btn-success' role='button'>Checkout</a>


{% endblock content %}