{% extends 'home/base.html' %}

{% block content %}
<h2>Items here:</h2>

{% for p in cart %}

<h5>{{p.product}}</h5>
<ul>
    <img src="{{MEDIA_URL}}{{p.image}}" width="70px" border-radius='50'></img>
    <li>Quantity: {{p.quantity}}</li> 
    <li>${{p.price}} each</li>
    <li>${{p.total}} total</li>
    <button class="btn-sm btn-danger">Remove</button>
</ul>
{% endfor %}
<p><strong>Grand Total: ${{totals}}</strong></p>
<button class='btn-sm btn-success'>Checkout</button>

{% endblock content %}